<div class="container my-5 text-center" *ngIf="token">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg p-3 p-lg-5 pt-lg-3">
      <h4 class="display-5 fw-bold lh-1 text-body-emphasis">Your photos!</h4>
      <hr>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-4" *ngFor="let image of images">
          <div class="card h-100" [ngClass]="{'selected': image.selected}">
            <div class="card-body d-flex justify-content-center p-0" (click)="toggleSelect(image)">
                <img [src]="'assets/' + image.image_path" alt="Image" class="img-show" />
            </div>
          </div>
          </div>
        </div>
      </div>
      <div>
        <button class="btn btn-primary my-3 w-50" (click)="deleteSelected()">Delete</button>
      </div>
    </div>
  </div>
  

  <div class="container my-5 text-center" *ngIf="token === null">
    <div
      class="row p-4 pb-0 pe-lg-0 pt-lg-5 rounded-3 border shadow-lg card-body" style="height: 10rem;">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis">
        You have to log in first!
      </h1>
    </div>
  </div>
  